BASE_URL=http://103.90.84.39:22106
ENCRYPTION_KEY=4e7f9a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f
ENCRYPTION_IV=1a2b3c4d5e6f708192a3b4c5d6e7f809
AUTH_SECRET="oKFXXEG9gkTnVCIWWJuBWH45u2PE3miBCERjyyy7JXY="
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET="oKFXXEG9gkTnVCIWWJuBWH45u2PE3miBCERjyyy7JXY="
PUBLIC_API_TOKEN=D3CC6DB5-093B-4B49-ADCF-ACC2041F7D83

ESEWA_URL=https://rc.esewa.com.np
PRODUCT_CODE=EPAYTEST
NEXT_PUBLIC_ESEWA_FORM_URL=https://rc-epay.esewa.com.np/api/epay/main/v2/form
NEXT_PUBLIC_CONNECTIPS_FORM_URL=https://connectips.com.np/api/checkout